<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ChatwithNMD</title>
	<script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="script.js" defer></script>
	<script>
		const ROOM_ID = '<%- roomId %>';
	</script>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<div class="wrapper">
		<h1>ChatWithNMD</h1>
		<h2>You are in room:<br> <%- roomId %></h2> 
		<a id="back" href="/"><p>x</p></a>
	</div>
	
	<div id="video-grid"></div>

	<footer>
		<p><a href="https://jeroenvervaeck.github.io/">Documentation</a></p>
		<p>ArteveldeHS 2020</p>
		<p>Web of Things</p>
	</footer>
</body>
</html>
