<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ChatwithNMD</title>
	<script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
	<scrip src="/socket.io/socket.io.js"></scrip>
	<scrip src="script.js" defer></scrip>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<div class="wrapper">
		<h1>ChatWithNMD</h1>
		<h2>Waitingroom</h2>
	</div>

	<form action="/join-room" method="POST">
		<input name="input" type="text" value="Room01" id="input_name">
		<input type="submit" value="Join" id="input_submit">
	</form>

	<footer>
		<p><a href="https://jeroenvervaeck.github.io/">Documentation</a></p>
		<p>ArteveldeHS 2020</p>
		<p>Web of Things</p>
	</footer>

</body>
</html>
